@charset "UTF-8";

// 按钮样式

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
  text-decoration: none;

  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled {

  }
}

.btn-red {

}

.btn-blue {

}