@charset "UTF-8";

// 弹窗
.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  overflow-y: scroll;
  font-size: pxToRem(14px);
  //默认样式
  .simple-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateY(-50%);
    margin-left: pxToRem(-135px);
    width: pxToRem(270px);
    border-radius: pxToRem(2px);
    background: #f7f7f7;
    color: #666;
    padding: pxToRem(15px);
    .btn-box {
      padding-top: pxToRem(10px);
      text-align: center;
      .close-dialog-btn {
        display: inline-block;
        width: pxToRem(240px);
        height: pxToRem(40px);
        border-radius: pxToRem(5px);
        font-size: pxToRem(16px);
        line-height: pxToRem(40px);
        background: #ccc;
        text-align: center;
        color: #666;
        &.active {
          background-color: #e85200;
        }
      }
    }
    &.no-border {
      padding-top: pxToRem(35px);
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      border-radius: 0;
      margin-left: pxToRem(-145px);
      width: pxToRem(290px);
      background: none;
    }
  }
  //顶部全屏
  .top-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: pxToRem(320px);
    max-width: 640px;
    margin-left: pxToRem(-160px);
  }
  //居中透明
  .middle-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: pxToRem(-150px);
    margin-top: pxToRem(-150px);
    width: pxToRem(300px);
    height: pxToRem(300px);
    text-align: center;
  }
}

.ui-alert {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%;

  &:after {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    height: 100%;
    width: 100%;
    content: '';
    overflow: hidden;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }

  .ui-alert-main {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9001;
    margin-left: pxToRem(-145px);
    margin-top: pxToRem(-28px);
    border-radius: pxToRem(2px);
    padding: pxToRem(20px) pxToRem(10px);
    width: pxToRem(290px);
    line-height: pxToRem(16px);
    font-size: pxToRem(12px);
    text-align: center;
    background: #fff;
    color: #333;
    box-shadow: 2px 2px 5px #000;
  }
}