@charset "UTF-8";

// 文字大小
.font-8 {
  font-size: pxToRem(8px);
}
.font-10 {
  font-size: pxToRem(10px);
}
.font-12 {
  font-size: pxToRem(12px);
}
.font-14 {
  font-size: pxToRem(14px);
}
.font-16 {
  font-size: pxToRem(16px);
}

// 字体颜色
.text-red {
  color: $red !important;
}
.text-blue {
  color: $blue !important;
}
.text-green {
  color: $green !important;
}
.text-gray {
  color: $gray !important;
}
.text-light {
  color: $light !important;
}
.text-black {
  color: $black !important;
}
.text-white {
  color: $white !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-orange {
  color: $orange !important;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}