@charset "UTF-8";

// 按钮样式
.form-control {
  display: block;
  width: 100%;
  padding: pxToRem(5px);
  font-size: pxToRem(12px);
  line-height: 1;
  color: $black;
  background-color: none;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $border-color;
  border-radius: pxToRem(4px);
  box-shadow: none;

  &:focus,
  &.focus {
    border-color: $blue;
  }

  &:disabled,
  &[readonly] {
    background-color: $bg-color;
    opacity: 1;
  }

  &.text {
    height: pxToRem(30px);
    line-height: pxToRem(15px);

    &.buy {
      border-color: $bg-red;
    }

    &.sell {
      border-color: $bg-blue;
    }
  }
}