@charset "UTF-8";


.icon-rank {
  display: inline-block;
  width: pxToRem(16px);
  height: pxToRem(16px);
  line-height: pxToRem(16px);
  font-style: normal;
  font-size: pxToRem(12px);
  text-align: center;
  color: $black;
  border-radius: 50%;
  background: #e7e7e7;

  &.rank-1 {
    position: relative;
    background: $red;
    color: $white;

    em {
      display: block;
      position: absolute;
      top: pxToRem(-8px);
      left: pxToRem(1px);
      width: pxToRem(14px);
      height: pxToRem(10px);
      background: url(../images/icon_crown.png) no-repeat center 0;
      background-size: 100% 100%;
    }
  }

  &.rank-2 {
    background: $orange;
    color: $white;
  }

  &.rank-3 {
    background: $yellow;
    color: $white;
  }
}

.icon-buy,
.icon-sell {
  display: inline-block;
  width: pxToRem(20px);
  height: pxToRem(20px);
  line-height: pxToRem(20px);
  font-style: normal;
  font-size: pxToRem(12px);
  text-align: center;
  color: $white;
  border-radius: pxToRem(2px);
}

.icon-buy {
  background: $bg-red;
}

.icon-sell {
  background: $bg-blue;
}

.icon-link-buy,
.icon-link-sell,
.icon-link-cancel,
.icon-link-search {
  display: inline-block;
  width: pxToRem(25px);
  height: pxToRem(20px);
  background-image: url(../images/icon_trade.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% auto;
}
.icon-link-buy {
  background-position: 0 0;
}
.icon-link-sell {
  background-position: 0 pxToRem(-20px);
}
.icon-link-cancel {
  background-position: 0 pxToRem(-40px);
}
.icon-link-search {
  background-position: 0 pxToRem(-60px);
}