@charset "UTF-8";

body {
  background: $bg-color;
  padding-bottom: pxToRem(70px);
  padding-top: pxToRem(43px);
}

// 对齐方式
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

//布局
.ui-container,
.ui-box {
  display: block;

  &.bg-white {
    background: $white;
  }
}

.ui-box {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.ui-box + .ui-box {
  margin-top: pxToRem(10px);
}

.ui-more {
  padding: pxToRem(2px) 0;
  text-align: center;

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: pxToRem(12px);
    color: $light;

    &.active {

    }

    em {
      font-style: normal;
    }
  }
}

.ui-gotop {
  display: none;
  position: fixed;
  bottom: pxToRem(10px);
  right: pxToRem(10px);
  width: pxToRem(44px);
  height: pxToRem(44px);
  font-size: 0;
  overflow: hidden;
  background: url(../images/icon_gotop.png) no-repeat center center;
  background-size: 100% 100%;
}
.ui-load-fail {
  padding: pxToRem(10px) 0;
  font-size: pxToRem(12px);
  text-align: center;
  color: $light;
}

.ui-header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: pxToRem(320px);
  padding-left: pxToRem(48px);
  padding-right: pxToRem(48px);
  height: pxToRem(43px);
  background-color: $bg-red;
  @include clearfix();

  .ui-header-left {
    float: left;
    margin-left: pxToRem(-48px);
    width: pxToRem(43px);
    height: pxToRem(43px);
    overflow: hidden;

    &.ui-back {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 0;
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }
  }

  .ui-header-title {
    float: left;
    width: 100%;
    line-height: pxToRem(43px);
    font-size: pxToRem(14px);
    text-align: center;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ui-header-right {
    float: right;
    margin-right: pxToRem(-48px);
    width: pxToRem(43px);
    height: pxToRem(43px);
    overflow: hidden;

    &.ui-home {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 pxToRem(-86px);
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }

    &.ui-refresh {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 pxToRem(-43px);
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }
  }
}

.ui-avatar {
  display: inline-block;
  width: pxToRem(40px);
  height: pxToRem(40px);
  background: url(../images/icon_guest.png) no-repeat 0 0;
  background-size: 100% 100%;
  border: pxToRem(2px) solid $border-color;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  &.large {
    width: pxToRem(50px);
    height: pxToRem(50px);
  }
}

.ui-header-top {
  padding: pxToRem(6px) pxToRem(10px);
}

.ui-user-status {
  width: pxToRem(40px);
  height: pxToRem(30px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  &.status-1 {
    background-image: url(../images/icon_user_1.png);
  }

  &.status-2 {
    background-image: url(../images/icon_user_2.png);
  }

  &.status-3 {
    background-image: url(../images/icon_user_3.png);
  }

  &.status-4 {
    background-image: url(../images/icon_user_4.png);
  }

  &.status-5 {
    background-image: url(../images/icon_user_5.png);
  }
}

.ui-search-box {

  input {
    padding: 0 pxToRem(5px);
    width: pxToRem(200px);
    height: pxToRem(30px);
    line-height: pxToRem(30px);
    border: 1px solid $border-color;
    font-size: pxToRem(14px);
  }

  button {
    margin-left: pxToRem(4px);
    width: pxToRem(56px);
    height: pxToRem(30px);
    font-size: pxToRem(14px);
    border: 1px solid $border-color;
  }
}

.ui-event-radio {
  padding: pxToRem(6px) pxToRem(10px);

  dt {
    width: pxToRem(53px);
    height: pxToRem(16px);
    line-height: pxToRem(16px);
    font-size: pxToRem(12px);
    text-align: center;
    color: $white;
    background: $blue;
    border-radius: pxToRem(2px);
  }

  dd {
    margin-left: pxToRem(5px);
    width: pxToRem(242px);
    height: pxToRem(16px);
    line-height: pxToRem(16px);
    font-size: pxToRem(12px);
    overflow: hidden;

    a {
      display: block;
      color: $black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.ui-navbar {
  border-top: 1px solid $border-color;

  .ui-col {
    width: 25%;
    text-align: center;

    a {
      display: inline-block;
      padding: pxToRem(10px) 0;
      font-size: pxToRem(14px);
      color: $gray;
      cursor: position;
      text-align: center;

      &.active {
        border-bottom: pxToRem(2px) solid $red;
        color: $red;
      }

      &.touch {
        color: $red;
      }
    }
  }
}

.ui-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9990;

  .dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: pxToRem(-100px);
    margin-left: pxToRem(-150px);
    padding: pxToRem(15px) pxToRem(15px) pxToRem(20px);
    width: pxToRem(300px);
    background-color: #fff;
    z-index: 9999;
    border-radius: pxToRem(4px);
  }

  .dialog-title {
    padding-bottom: pxToRem(10px);
    font-size: pxToRem(14px);
    color: $gray;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  .dialog-main {
    padding: pxToRem(10px) 0;
    min-height: pxToRem(28px);
    line-height: pxToRem(28px);
    font-size: pxToRem(12px);
    color: $black;
  }

  .dialog-action {
    text-align: center;

    .col-1 {
      width: 100%;
    }

    .col-2 {
      width: 48%;
    }

    .col-2 + .col-2 {
      margin-left: 4%;
    }

    .dialog-btn {
      font-size: pxToRem(14px);
      display: block;
      width: 100%;
      height: pxToRem(30px);
      line-height: pxToRem(30px);
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// 底部下载一起牛悬浮栏
.fixed-footer {
  position: fixed;
  z-index: 99;
  bottom: 0px;
  height: pxToRem(60px);
  background-color: $bg-black;
  min-width: 320px;
  padding: pxToRem(10px);
  img {
    height: pxToRem(40px);
    width: pxToRem(40px);
    float: left;
  }
  .fixed-footer-text {
    width: pxToRem(200px);
    float: left;
    padding-left: pxToRem(10px);
    padding-top: pxToRem(5px);
    span {
      font-size: pxToRem(13px);
      color: $white;
    }
    p {
      font-size: pxToRem(9px);
      color: $light;
    }
  }
  a {
    border-radius: pxToRem(4px);
    line-height: pxToRem(29px);
    text-align: center;
    display: block;
    background-color: $bg-red;
    height: pxToRem(29px);
    width: pxToRem(60px);
    color: $white;
    margin-top: pxToRem(6px);
    float: right;
    font-size: pxToRem(12px);
    &:active {
      background-color: $bg-red-active;
    }
  }
}

// 我要参赛悬浮栏
.join-event-bg {
  height: pxToRem(60px);
  position: fixed;
  bottom: 0;
  background-color: $bg-black;
  width: pxToRem(320px);
}

.join-event-btn {
  margin: pxToRem(10px) auto;
  color: $white;
  background-color: $bg-red;
  text-align: center;
  line-height: pxToRem(40px);
  height: pxToRem(40px);
  width: pxToRem(150px);
  border-radius: pxToRem(3px);
  font-size: pxToRem(16px);
  &.active {
    background-color: $bg-red-active;
  }
}

//微信分享提示
.top-wrap.wx-share{
    background: #fff;

   .text {
      padding: pxToRem(10px);
      font-size: pxToRem(14px);
      color: $orange;
    }
}
.top-wrap.wx-share .arrows {
  position: absolute;
  top: pxToRem(5px);
  right: pxToRem(10px);
  width: pxToRem(30px);
  height: pxToRem(30px);
  background: url(../images/icon_share_arrows.png) no-repeat 0 0;
  background-size: 100% 100%;
}