@charset "UTF-8";

body {
  background: $bg-color;
}

// 对齐方式
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}

// 字体颜色
.text-red {
  color: $red;
}
.text-blue {
  color: $blue;
}
.text-green {
  color: $green;
}
.text-gray {
  color: $gray;
}
.text-light {
  color: $light;
}

// 间距修复
.m-t-2 {
  margin-top: pxToRem(2px);
}
.m-t-4 {
  margin-top: pxToRem(4px);
}
.m-t-6 {
  margin-top: pxToRem(6px);
}
.m-t-8 {
  margin-top: pxToRem(8px);
}
.m-t-10 {
  margin-top: pxToRem(10px);
}
.m-r-2 {
  margin-right: pxToRem(2px);
}
.m-r-4 {
  margin-right: pxToRem(4px);
}
.m-r-6 {
  margin-right: pxToRem(6px);
}
.m-r-8 {
  margin-right: pxToRem(8px);
}
.m-r-10 {
  margin-right: pxToRem(10px);
}
.m-b-2 {
  margin-bottom: pxToRem(2px);
}
.m-b-4 {
  margin-bottom: pxToRem(4px);
}
.m-b-6 {
  margin-bottom: pxToRem(6px);
}
.m-b-8 {
  margin-bottom: pxToRem(8px);
}
.m-b-10 {
  margin-bottom: pxToRem(10px);
}
.m-l-2 {
  margin-left: pxToRem(2px);
}
.m-l-4 {
  margin-left: pxToRem(4px);
}
.m-l-6 {
  margin-left: pxToRem(6px);
}
.m-l-8 {
  margin-left: pxToRem(8px);
}
.m-l-10 {
  margin-left: pxToRem(10px);
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

//布局
.ui-container,
.ui-box {
  display: block;

  &.bg-white {
    background: $white;
  }
}

.ui-box {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.ui-box + .ui-box {
  margin-top: pxToRem(10px);
}

.ui-more {
  padding: pxToRem(2px) 0;
  text-align: center;

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: pxToRem(12px);
    color: $light;

    &.active {

    }

    em {
      font-style: normal;
    }
  }
}

.ui-gotop {
  position: fixed;
  bottom: pxToRem(10px);
  right: pxToRem(10px);
  width: pxToRem(44px);
  height: pxToRem(44px);
  font-size: 0;
  overflow: hidden;
  background: url(../images/icon_gotop.png) no-repeat center center;
  background-size: 100% 100%;
}
.ui-load-fail {
  padding: pxToRem(10px) 0;
  line-height: (12px);
  font-size: pxToRem(12px);
  text-align: center;
  color: $light;
}

.ui-header {
  padding-left: pxToRem(48px);
  padding-right: pxToRem(48px);
  height: pxToRem(43px);
  background-color: $bg-red;
  @include clearfix();

  .ui-header-left {
    float: left;
    margin-left: pxToRem(-48px);
    width: pxToRem(43px);
    height: pxToRem(43px);
    overflow: hidden;

    &.ui-back {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 0;
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }
  }

  .ui-header-title {
    float: left;
    width: 100%;
    line-height: pxToRem(43px);
    font-size: pxToRem(14px);
    text-align: center;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ui-header-right {
    float: right;
    margin-right: pxToRem(-48px);
    width: pxToRem(43px);
    height: pxToRem(43px);
    overflow: hidden;

    &.ui-home {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 pxToRem(-86px);
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }

    &.ui-refresh {
      background: $bg-red url(../images/icon_header.png) no-repeat;
      background-position: 0 pxToRem(-43px);
      background-size: 100% auto;
      font-size: 0;

      &.active {
        background-color: $bg-red-active;
      }
    }
  }
}

.font-8 {
  font-size: pxToRem(8px);
}
.font-10 {
  font-size: pxToRem(10px);
}
.font-12 {
  font-size: pxToRem(12px);
}
.font-14 {
  font-size: pxToRem(14px);
}
.font-16 {
  font-size: pxToRem(16px);
}
