@charset "UTF-8";

//加载动画
.ui-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: pxToRem(-30px);
    margin-left: pxToRem(-30px);
    width: pxToRem(60px);
    height: pxToRem(60px);
    text-indent: -9999em;
    overflow: hidden;
    border-width: pxToRem(6px);
    border-style: solid;
    border-color: transparent #999 #999 #999;
    border-radius: 50%;
    -webkit-animation: load-circle 1.1s infinite linear;
    animation: load-circle 1.1s infinite linear;
  }
}
@-webkit-keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//数据加载失败
.ui-loading-fail {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: pxToRem(-22px);
  margin-left: pxToRem(-80px);
  z-index: 9999;
  border: 1px solid #222;
  span {
    display: block;
    width: pxToRem(160px);
    height: pxToRem(44px);
    background-color: #383c47;
    color: #fff;
    text-align: center;
    line-height: pxToRem(44px);
    border: 1px solid #444;
    font-size: pxToRem(12px);
  }
}

.ui-loading-null {
  padding: pxToRem(50px) 0 pxToRem(10px);

  .loading-null-img {
    width: pxToRem(55px);
    height: pxToRem(55px);
    margin: 0 auto;
    background: url(../images/pic_null.png) no-repeat 0 0;
    background-size: 100%;
  }

  .loading-null-text {
    font-size: pxToRem(14px);
    text-align: center;
    color: $light;
  }
}