@charset "UTF-8";

 // 变量

// base
$white : #fff;
$black : #333;
$gray: #666;
$light: #999;
$red: #de3939;
$green: #1aae60;
$blue: #0094ef;

// border
$border-color: #dedede;

// bd
$bg-color: #f7f7f7;

$baseFontSize      : 100px !default;