@charset "UTF-8";

//增减框
.quantity-form {
  display: inline-block;
  font-size: 0;
  .minus-btn,
  .plus-btn {
    display: inline-block;
    width: pxToRem(40px);
    height: pxToRem(40px);
    line-height: pxToRem(40px);
    text-align: center;
    font-size: pxToRem(30px);
    color: #262932;
    background: #c1c8e4;
    vertical-align: middle;
    &.active {
      background: #a1a7c0;
    }
  }
  .minus-btn {
    border-top-left-radius: pxToRem(2px);
    border-bottom-left-radius: pxToRem(2px);
  }
  .plus-btn {
    border-top-right-radius: pxToRem(2px);
    border-bottom-right-radius: pxToRem(2px);
  }
  input {
    width: pxToRem(100px);
    height: pxToRem(40px);
    background-color: #262932;
    border: pxToRem(1px) solid #c1c8e4;
    border-left: 0 none;
    border-right: 0 none;
    font-size: pxToRem(18px);
    vertical-align: middle;
    text-align: center;
    color: #ff5a00;
  }
}

// 头部固定栏
.fixed-header {
  position: fixed;
  top: 0px;
  height: pxToRem(43px);
  background-color: #d83e3a;
  img {
    height: pxToRem(43px);
    width: pxToRem(43px);
    float:left;
  }
  .fixed-header-title {
    float:left;
    height: pxToRem(43px);
    width: pxToRem(234px);
    line-height: pxToRem(43px);
    text-align: center;
    color: #fff;
    font-size: pxToRem(16px);
  }
}