<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
  <title>券商中国</title>
  <meta name="description" content=""/>
  <meta name="apple-mobile-web-app-title" content="券商中国"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
  <link rel="stylesheet" href="../../../static/fachina/css/style.css?ver=20160224"/>
</head>
<body>

  <!-- header -->
  <header>

    <!-- 搜索 -->
    <div class="ui-box ui-row index-head">
      <div class="ui-col user-status status-1"></div>
      <div class="ui-col search-box">
        <ul class="ui-row">
          <li class="ui-col">
            <input type="text" class="form-control" placeholder="输入投顾／机构">
          </li>
          <li class="ui-col">
            <button class="btn btn-white" type="button">搜索</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- banner -->
    <div class="index-banner">
      <!-- 广告 -->
      <div class="container index-advert"></div>

      <!-- 赛事信息 -->
      <div class="index-event-info">
        <h2 class="season">第一季</h2>
        <span class="date">3月1日-4月30日</span>
        <div class="main">
          <div class="status">
            距离结束<span>10</span>天
          </div>
          <div class="number">
            累计投票：<span>53,253,600</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 赛事直播 -->
    <dl class="ui-row index-scroll">
      <dt class="ui-col">赛事直播</dt>
      <dd class="ui-col">
        <span>季逾800位投顾参展，鹿死谁手，谁主沉浮谁主沉浮谁主沉浮</span>
      </dd>
    </dl>
  </header>

  <!-- main -->
  <main>
    <!-- 导航 -->
    <ul class="ui-container bg-white ui-row navbar">
      <li class="ui-col">
        <a href="#" class="nav-link active">大赛首页</a>
      </li>
      <li class="ui-col">
        <a href="#" class="nav-link">个人中心</a>
      </li>
      <li class="ui-col">
        <a href="#" class="nav-link">模拟交易</a>
      </li>
      <li class="ui-col">
        <a href="#" class="nav-link">排行榜</a>
      </li>
    </ul>

    <!-- 参赛 -->
    <div class="ui-box bg-white index-join">

      <!-- 奖金图片 -->
      <div class="prize">
        <img src="../../../static/fachina/images/pic_prize_banner.jpg">
      </div>

      <div class="text-box">
        每赛季<span>综合排名</span>前<span>5</span>名，获得<span>金牌投顾</span>称号<br>
        （综合得分=<span>70%</span>投资收益+<span>30%</span>得票数）
      </div>

      <div class="btn-box">
        <a href="javascript:;" class="index-join-event">我要参赛</a>
      </div>

      <div class="text-box m-t-10">
        邀请投顾参赛获奖，可获得 <span class="text-danger">2000</span>  元
      </div>

      <div class="btn-box">
        <a href="javascript:;" class="index-invite-event">邀请好友参赛</a>
      </div>

      <div class="panel">
        <table>
          <thead>
            <tr>
              <th></th>
              <th class="active">第一季</th>
              <th>第二季</th>
              <th>第三季</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>报名期</td>
              <td class="active">2月23日-3月8日</td>
              <td>2月23日-3月8日</td>
              <td>2月23日-3月8日</td>
            </tr>
            <tr>
              <td>比赛期</td>
              <td class="active">2月23日-3月8日</td>
              <td>2月23日-3月8日</td>
              <td>2月23日-3月8日</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ui-more index-link-more">
        <a href="#">查看规则详情 <em>&gt;</em></a>
      </div>
    </div>

    <!-- 榜单 -->
    <div class="ui-box bg-white index-ranking">

      <!-- 标题 -->
      <ul class="ui-row module-title">
        <li class="ui-col title">
          <h2>大赛榜单</h2>
        </li>
        <li class="ui-col link-more">
          <a href="#">更多<em>&gt;</em></a>
        </li>
      </ul>

      <!-- 内容 -->
      <div class="ui-container">

        <!-- tabs -->
        <div class="index-tabs">
          <ul class="ui-row">
            <li class="ui-col tab-1">
              <a href="#" class="nav-link active">投顾</a>
            </li>
            <li class="ui-col tab-2">
              <a href="#" class="nav-link">机构</a>
            </li>
            <li class="ui-col tab-3">
              <a href="#" class="nav-link">达人</a>
            </li>
          </ul>
        </div>

        <div class="ui-container index-ranking-content">
          <table>
            <thead>
              <tr>
                <th>综合<br/>排名</th>
                <th>投顾<br/>机构</th>
                <th>赛季<br/>收益率</th>
                <th>当前持仓</th>
                <th>投票数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="icon-rank rank-1"><em></em>1</i>
                </td>
                <td>
                  <div class="user-info-box">
                    <div class="user-img">
                      <img src="../../../static/fachina/images/pic_demo_user.jpg">
                    </div>
                    <dl class="user-info">
                      <dt>小妞</dt>
                      <dd>国家群安</dd>
                    </dl>
                  </div>
                </td>
                <td>
                  <span class="text-danger">98.56%</span>
                </td>
                <td>
                  <div class="index-td-btn">
                    <a href="javascript:;" class="btn btn-white">查看</a>
                  </div>
                </td>
                <td>
                  <div class="index-td-btn">
                    <span class="total-number">累计53023票</span>
                    <a href="javascript:;" class="btn btn-red">投票</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="icon-rank rank-2"><em></em>2</i></td>
                <td>
                  <div class="user-info-box">
                    <div class="user-img">
                      <img src="../../../static/fachina/images/pic_demo_user.jpg">
                    </div>
                    <dl class="user-info">
                      <dt>小妞</dt>
                      <dd>国家群安</dd>
                    </dl>
                  </div>
                </td>
                <td><span class="text-danger">98.56%</span></td>
                <td>
                  <div class="index-td-btn">
                    <a href="javascript:;" class="btn btn-white">查看</a>
                  </div>
                </td>
                <td>
                  <div class="index-td-btn">
                    <span class="total-number">累计53023票</span>
                    <a href="javascript:;" class="btn btn-red">投票</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="icon-rank rank-3"><em></em>3</i></td>
                <td>
                  <div class="user-info-box">
                    <div class="user-img">
                      <img src="../../../static/fachina/images/pic_demo_user.jpg">
                    </div>
                    <dl class="user-info">
                      <dt>小妞</dt>
                      <dd>国家群安</dd>
                    </dl>
                  </div>
                </td>
                <td><span class="text-danger">98.56%</span></td>
                <td>
                  <div class="index-td-btn">
                    <a href="javascript:;" class="btn btn-white">查看</a>
                  </div>
                </td>
                <td>
                  <div class="index-td-btn">
                    <span class="total-number">累计53023票</span>
                    <a href="javascript:;" class="btn btn-red">投票</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="icon-rank">4</i></td>
                <td>
                  <div class="user-info-box">
                    <div class="user-img">
                      <img src="../../../static/fachina/images/pic_demo_user.jpg">
                    </div>
                    <dl class="user-info">
                      <dt>小妞</dt>
                      <dd>国家群安</dd>
                    </dl>
                  </div>
                </td>
                <td><span class="text-danger">98.56%</span></td>
                <td>
                  <div class="index-td-btn">
                    <a href="javascript:;" class="btn btn-white">查看</a>
                  </div>
                </td>
                <td>
                  <div class="index-td-btn">
                    <span class="total-number">累计53023票</span>
                    <a href="javascript:;" class="btn btn-red">投票</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 加载更多 -->
      <div class="ui-more index-link-more">
        <a href="#">查看更多 <em>&gt;</em></a>
      </div>
    </div>

    <!-- 精选观点 -->
    <div class="ui-box bg-white index-viewpoint">

      <!-- 标题 -->
      <ul class="ui-row module-title">
        <li class="ui-col title">
          <h2>精选观点</h2>
        </li>
        <li class="ui-col link-more">
          <a href="#">更多<em>&gt;</em></a>
        </li>
      </ul>

      <!-- 内容 -->
      <ul class="index-viewpoint-list">
        <li class="list-item">
          <em class="icon-good">精</em>
          <a href="#">
            <h4>3000点无需恐慌，大胆抄底慌，大胆抄底</h4>
            <dl class="ui-row">
              <dt class="ui-col">罗启星 投资顾问（国泰君安）</dt>
              <dd class="ui-col">阅读 1041</dd>
            </dl>
          </a>
        </li>
        <li class="list-item">
          <em class="icon-good">精</em>
          <a href="#">
            <h4>3000点无需恐慌，大胆抄底慌，大胆抄底</h4>
            <dl class="ui-row">
              <dt class="ui-col">罗启星 投资顾问（国泰君安）</dt>
              <dd class="ui-col">阅读 1042</dd>
            </dl>
          </a>
        </li>
        <li class="list-item">
          <em class="icon-good">精</em>
          <a href="#">
            <h4>3000点无需恐慌，大胆抄底慌，大胆抄底</h4>
            <dl class="ui-row">
              <dt class="ui-col">罗启星 投资顾问（国泰君安）</dt>
              <dd class="ui-col">阅读 1042</dd>
            </dl>
          </a>
        </li>
        <li class="list-item">
          <em class="icon-good">精</em>
          <a href="#">
            <h4>3000点无需恐慌，大胆抄底慌，大胆抄底</h4>
            <dl class="ui-row">
              <dt class="ui-col">罗启星 投资顾问（国泰君安）</dt>
              <dd class="ui-col">阅读 1042</dd>
            </dl>
          </a>
        </li>
      </ul>

      <!-- 加载更多 -->
      <div class="ui-more index-link-more">
        <a href="#">查看更多 <em>&gt;</em></a>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer>
    <div class="ui-box foot">
      <div class="foot-text">
        用户必读<a href="#">《一起牛投顾服务使用协议》</a>
      </div>
      <div class="foot-text">
        免责声明：一起牛平台仅提供服务对接功能，所有投顾的咨询建议，仅供参考提供：用户须作出投资决策，风险自担。
      </div>
      <div class="foot-text last-child">
        客服热线（工作日 9:00-18:00）
      </div>
      <div class="foot-phone">
        <a href="#">0755-26412766</a>
        <i></i>
        <a href="#">0755-26412766</a>
        <i></i>
        <a href="#">yiqiniu-com</a>
      </div>
    </div>
    <div class="foot-copyright">
      Copyright © 2014-2016 齐牛金融 版权所有 All Rights Reserved
    </div>
  </footer>

  <!-- gotop -->
  <div class="ui-gotop">
    <a href="javascript:;" class="ui-gotop">Top</a>
  </div>
</body>
</html>