<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
  <title>券商中国</title>
  <meta name="description" content=""/>
  <meta name="apple-mobile-web-app-title" content="券商中国"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
  <link rel="stylesheet" href="../../../static/fachina/css/style.css?ver=20160224"/>
</head>
<body>
  <!-- 头部标题-->
  <div class="login-header">
    <img src="../../../static/fachina/images/pic_back.png" alt=""/>
    <div class="login-header-title">登录</div>
    <img src="../../../static/fachina/images/pic_home.png" alt=""/>
  </div>
  <!-- 主体-->
  <div class="login-body">
    <span>首届一起牛杯金牌投顾选拔赛</span>
    <p>一起牛-百姓身边的投资顾问</p>
    <div class="login-phone">
      <img src="" alt=""/>
      <input type="text"/>
    </div>
    <div class="login-password">
      <img src="" alt=""/>
      <input type="text"/>
    </div>
    <div class="login-error" id="validError"></div>
    <a id="login-" href="javascript:;">登录</a>
    <a href="">立即注册</a>
  </div>
</body>
</html>