<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
  <title>券商中国</title>
  <meta name="description" content=""/>
  <meta name="apple-mobile-web-app-title" content="券商中国"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
  <link rel="stylesheet" href="../../../static/fachina/css/style.css?ver=20160224"/>
</head>
<body>
  <!-- 头部标题-->
  <header>
    <div class="ui-header">
      <div class="ui-header-left ui-back J-touch">返回</div>
      <div class="ui-header-title">撤单</div>
      <div class="ui-header-right ui-refresh J-touch">刷新</div>
    </div>
  </header>

  <!-- 主体-->
  <main>
    <!-- tabs -->
    <div class="trade-tabs">
      <ul class="ui-row">
        <li data-view="0" data-type="A" class="ui-col J-touch">
          <span class="nav-link">买入</span>
        </li>
        <li data-view="1" data-type="O" class="ui-col J-touch">
          <span class="nav-link">卖出</span>
        </li>
        <li data-view="2" data-type="E" class="ui-col active J-touch">
          <span class="nav-link">撤单</span>
        </li>
        <li data-view="3" data-type="E" class="ui-col J-touch">
          <span class="nav-link">查询</span>
        </li>
      </ul>
    </div>

    <div class="ui-container">
      <div class="trade-tabs-content">

      </div>
      <div class="trade-tabs-content">

      </div>

      <!-- 撤单 -->
      <div class="trade-tabs-content">
        <table class="trade-table">
          <thead>
            <tr>
              <th></th>
              <th>股票名称<br>委托时间</th>
              <th>委托价<br>成交均价</th>
              <th>委托股数<br>成交股数</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i class="icon-buy">买</i>
              </td>
              <td>
                <span class="text-black">平安银行</span>
                <span class="font-8 text-light">10:39:56</span>
              </td>
              <td>
                <span>5.960</span>
                <span>0.000</span>
              </td>
              <td>
                <span>5.960</span>
                <span>0.000</span>
              </td>
              <td>
                <span class="text-gray">未成交</span>
              </td>
            </tr>
            <tr>
              <td>
                <i class="icon-sell">卖</i>
              </td>
              <td>
                <span class="text-black">平安银行</span>
                <span class="font-8 text-light">10:39:56</span>
              </td>
              <td>
                <span>5.960</span>
                <span>0.000</span>
              </td>
              <td>
                <span>5.960</span>
                <span>0.000</span>
              </td>
              <td>
                <span class="text-gray">未成交</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- 查询 -->
      <div class="trade-tabs-content show">
        <table class="trade-table">
          <thead>
            <tr>
              <th>操作</th>
              <th>股票名称</th>
              <th>委托价<br>成交价</th>
              <th>委托股数<br>成交股数</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="text-red">买入</span>
              </td>
              <td>
                <span>平安银行</span>
                <span class="font-8 text-light">000001</span>
              </td>
              <td>
                <span>5.960</span>
                <span>--</span>
              </td>
              <td>
                <span>5.960</span>
                <span>--</span>
              </td>
              <td>
                <span>待交易</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text-blue">卖出</span>
              </td>
              <td>
                <span>平安银行</span>
                <span class="font-8 text-light">000001</span>
              </td>
              <td>
                <span>5.960</span>
                <span>--</span>
              </td>
              <td>
                <span>5.960</span>
                <span>--</span>
              </td>
              <td>
                <span>待交易</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
</html>