@charset "UTF-8";

// 首页

.index-banner {
  position: relative;
  width: 100%;
  height: pxToRem(100px);
  overflow: hidden;
  background: $white;
}
.index-advert {
  height: 100%;
}
.index-event-info {
  position: absolute;
  top: pxToRem(9px);
  right: pxToRem(6px);
  z-index: 1;
  padding: pxToRem(1px);
  width: pxToRem(107px);
  background: $white;
  border-radius: pxToRem(4px);

  h2.season {
    padding-top: pxToRem(5px);
    line-height: pxToRem(14px);
    font-weight: 400;
    font-size: pxToRem(12px);
    color: $red;
    text-align: center;
  }

  .date {
    display: block;
    line-height: pxToRem(16px);
    font-size: pxToRem(10px);
    color: $red;
    text-align: center;
  }

  .main {
    padding-bottom: pxToRem(5px);
    color: $white;
    background: $bg-red;
    border-bottom-left-radius: pxToRem(4px);
    border-bottom-right-radius: pxToRem(4px);
  }

  .status {
    font-size: pxToRem(12px);
    text-align: center;

    span {
      font-size: pxToRem(20px);
      color: $yellow;
    }

    &.status-simple {
      line-height: pxToRem(40px);
    }
  }

  .number {
    line-height: pxToRem(16px);
    font-size: pxToRem(10px);
    text-align: center;

    span {
      font-size: pxToRem(10px);
      color: $yellow;
    }
  }
}

.index-join {
  padding-top: pxToRem(10px);
  padding-right: pxToRem(10px);
  padding-left: pxToRem(10px);

  .prize {
    text-align: center;

    img {
      width: pxToRem(260px);
      height: pxToRem(100px);
    }
  }

  .text-box {
    padding: pxToRem(4px) 0;
    font-size: pxToRem(12px);
    color: $gray;

    span {
      margin: 0 pxToRem(2px);
      color: $red;
    }
  }
}
.index-join-event,
.index-invite-event {
  display: block;
  margin: 0 auto;
  width: pxToRem(250px);
  height: pxToRem(38px);
  background-image: url(../images/icon_btn_group.png);
  background-repeat: no-repeat;
  background-size: pxToRem(250px) auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.index-join-event {
  background-position: 0 0;

  &.active {
    background-position: 0 pxToRem(-45px);
  }
}
.index-invite-event {
  background-position: 0 pxToRem(-90px);

  &.active {
    background-position: 0 pxToRem(-135px);
  }
}
.index-to-rules {
  border-top: 0 none;
}
.index-event-date {
  margin-top: pxToRem(20px);

  table {
    width: 100%;

    th,
    td {
      border: 1px solid $border-color;
      text-align: center;
      background: $bg-color;
      color: $light;
    }

    th {
      line-height: pxToRem(18px);
      font-size: pxToRem(12px);
    }

    td {
      line-height: pxToRem(23px);
      font-size: pxToRem(10px);
    }
  }

  &.date-1 {
    tr {
      th:nth-child(2),
      td:nth-child(2) {
        background: $white;
        color: $gray;
      }
    }
  }

  &.date-2 {
    tr {
      th:nth-child(3),
      td:nth-child(3) {
        background: $white;
        color: $gray;
      }
    }
  }

  &.date-3 {
    tr {
      th:nth-child(4),
      td:nth-child(4) {
        background: $white;
        color: $gray;
      }
    }
  }
}
.index-viewpoint,
.index-ranking {
  .module-title {
    border-bottom: 1px solid $border-color;
  }

  .ui-more.large {
    border-top: 1px solid $border-color;
  }
}
.index-tabs {
  padding: pxToRem(7px) pxToRem(10px);

  .ui-col {
    width: 33.333333%;
    font-size: pxToRem(14px);
    text-align: center;
    border: 1px solid $border-color;
    overflow: hidden;

    .nav-link,
    a {
      display: inline-block;
      padding: pxToRem(6px) 0 pxToRem(4px);
      color: $gray;
      border-bottom: pxToRem(2px) solid $white;
    }

    &.active {

      .nav-link,
      a {
        color: $red;
        border-bottom-color: $red;
      }
    }
  }
  .tab-1 {
    border-top-left-radius: pxToRem(20px);
    border-bottom-left-radius: pxToRem(20px)
  }

  .tab-2 {
    border-left-width: 0;
    border-right-width: 0;
  }

  .tab-3 {
    border-top-right-radius: pxToRem(20px);
    border-bottom-right-radius: pxToRem(20px);
  }
}
.index-ranking-content {
  display: none;

  tbody {
    tr:last-child {
      border-bottom: 0 none;
    }
  }
}
.index-viewpoint-list {

  .list-item {
    padding: pxToRem(10px) pxToRem(10px) pxToRem(10px) pxToRem(32px);
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: 0 none;
    }

    .icon-good {
      display: block;
      float: left;
      margin-left: pxToRem(-22px);
      width: pxToRem(16px);
      height: pxToRem(16px);
      line-height: pxToRem(16px);
      text-align: center;
      font-size: pxToRem(12px);
      font-style: normal;
      color: $white;
      background: $bg-red;
      border-radius: pxToRem(2px);
    }

    h4 {
      font-size: pxToRem(14px);
      font-weight: 400;
      color: $black;
      line-height: pxToRem(16px);
      text-overflow:ellipsis;
    }

    dl {
      padding: pxToRem(5px) 0 0;
    }

    dt {
      width: pxToRem(210px);
      font-size: pxToRem(12px);
      color: $light;
    }

    dd {
      width: pxToRem(68px);
      text-align: right;
      font-size: pxToRem(12px);
      color: $light;
    }
  }
}
.index-td-btn {
  display: inline-block;
  position: relative;
  padding-top: pxToRem(4px);
  width: pxToRem(56px);

  .total-number {
    display: block;
    position: absolute;
    top: pxToRem(-6px);
    left: 0;
    width: 100%;
    font-size: pxToRem(8px);
    color: $light;
    text-align: center;
  }
}