@charset "UTF-8";

// 登录
// 圆角半径
$radius: 3px;

// 登录页主体
.login-body {
  padding-left: pxToRem(12px);
  padding-right: pxToRem(12px);
  padding-top: pxToRem(79px);
  text-align: center;
  span {
    color: $red;
    font-size: pxToRem(16px);
  }
  p {
    color: $light;
    font-size: pxToRem(11px);
    margin-bottom: pxToRem(37px);
  }
  .login-body-input {
    border: solid $border-color 1px;
    border-radius: pxToRem($radius);
    background-color: $white;
    width: pxToRem(296px);
    height: pxToRem(46px);
    margin-top: pxToRem(10px);
    img {
      float:left;
      width: pxToRem(35px);
      height: pxToRem(44px);
    }
    input {
      font-size: pxToRem(14px);
      float:left;
      width: pxToRem(259px);
      height:pxToRem(44px);
    }
  }
  // 验证提示
  #validError {
    height: pxToRem(40px);
    font-size: pxToRem(14px);
    margin-top: pxToRem(5px);
    text-align: left;
    p {
      color: $red;
    }
  }
  // 登录、注册跳转
  #login-btn-login {
    display: block;
    background-color: $bg-red;
    color: $white;
    font-size: pxToRem(16px);
    text-align: center;
    width: 100%;
    height: pxToRem(44px);
    border-radius: pxToRem($radius);
    line-height: pxToRem(44px);
    margin-bottom: pxToRem(12px);
    &.active {
      background-color: $bg-red-active;
    }
  }
  #login-btn-register {
    text-decoration: underline;
    color: $red;
    font-size: pxToRem(14px);
    &.active {
      color: $bg-red-active;
    }
  }
}