@charset "UTF-8";

// 榜单
.ranking-action-wrap {
  padding: pxToRem(10px);
  border-bottom: 0 none;
}

.ranking-action-box {
  padding: pxToRem(10px);
  padding-left: pxToRem(80px);
  border: 1px solid $border-color;
  border-radius: pxToRem(4px);

  .ranking-user-info {
    float: left;
    margin-left: pxToRem(-80px);
    width: pxToRem(80px);
    text-align: center;
  }
}
.ranking-btn-box {
  padding: pxToRem(10px);
  font-size: pxToRem(12px);
}
.ranking-tabs {
  li {
    background: $white;
  }
}

.ranking-list-box {
  border: 0 none;
}
