@charset "UTF-8";
// 圆角半径
$radius: 3px;
// 注册页头部
.register-header {
  height: pxToRem(43px);
  background-color: #d83e3a;
  img {
    height: pxToRem(43px);
    width: pxToRem(43px);
    float:left;
  }
  .register-header-title {
    float:left;
    height: pxToRem(43px);
    width: pxToRem(234px);
    line-height: pxToRem(43px);
    text-align: center;
    color: #fff;
    font-size: pxToRem(16px);
  }
}

// 注册页主体
.register-body {
  padding-left: pxToRem(12px);
  padding-right: pxToRem(12px);
  padding-top: pxToRem(36px);
  text-align: center;
  span {
    color: #d83e3a;
    font-size: pxToRem(16px);
  }
  p {
    color: #999999;
    font-size: pxToRem(11px);
    margin-bottom: pxToRem(37px);
  }
  input {
    height: pxToRem(44px);
    width:100%;
    border-radius: pxToRem($radius);
    border: solid #dbdbdb 1px;
  }
  .register-body-identify {
    width: pxToRem(296px);
    height: pxToRem(46px);
    margin-top: pxToRem(10px);
    margin-bottom: pxToRem(10px);
    input {
      float:left;
      width: pxToRem(172px);
    }
  }
  // 验证提示
  #validError {
    height: pxToRem(40px);
    font-size: pxToRem(14px);
    margin-top: pxToRem(5px);
    text-align: left;
    p {
      color: #d83e3a;
    }
  }
  // 登录、注册跳转
  #register-btn-login {
    display: block;
    background-color: #d83e3a;
    color: #fff;
    font-size: pxToRem(16px);
    text-align: center;
    width: 100%;
    height: pxToRem(44px);
    border-radius: pxToRem($radius);
    line-height: pxToRem(44px);
    margin-bottom: pxToRem(12px);
  }
  #register-btn-register {
    text-decoration: underline;
    color: #d83e3a;
    font-size: pxToRem(14px);
  }
}
