@charset "UTF-8";
// 圆角半径
$radius: 3px;

// 注册页主体
.register-body {
  padding-left: pxToRem(12px);
  padding-right: pxToRem(12px);
  padding-top: pxToRem(36px);
  padding-bottom: pxToRem(15px);
  text-align: center;
  span {
    color: $red;
    font-size: pxToRem(16px);
  }
  p {
    color: $light;
    font-size: pxToRem(11px);
    margin-bottom: pxToRem(37px);
  }
  input {
    height: pxToRem(44px);
    width:100%;
    border-radius: pxToRem($radius);
    border: solid $border-color pxToRem(1px);
    padding-left: pxToRem(10px);
    -webkit-appearance: none;
  }
  .register-body-identify {
    width: pxToRem(296px);
    height: pxToRem(46px);
    margin-top: pxToRem(10px);
    margin-bottom: pxToRem(10px);
    input {
      float:left;
      width: pxToRem(172px);
    }
    button {
      float:right;
      width: pxToRem(112px);
      height: pxToRem(44px);
      background-color: $bg-red;
      color: $white;
      line-height: pxToRem(44px);
      text-align: center;
      border-radius: pxToRem($radius);
      &.active {
        background-color: $bg-red-active;
      }
    }
    .locked {
      color: $light;
      background-color: $border-color;
    }
  }
  // 验证提示
  #validError {
    height: pxToRem(25px);
    font-size: pxToRem(14px);
    margin-top: pxToRem(5px);
    text-align: left;
    p {
      color: $red;
    }
  }
  // 登录、注册跳转
  #register-btn-register {
    display: block;
    background-color: $bg-red;
    color: $white;
    font-size: pxToRem(16px);
    text-align: center;
    width: 100%;
    height: pxToRem(44px);
    border-radius: pxToRem($radius);
    line-height: pxToRem(44px);
    margin-bottom: pxToRem(7px);
    &.active {
      background-color: $bg-red-active;
    }
  }
  #register-btn-login {
    text-decoration: underline;
    color: $red;
    font-size: pxToRem(14px);
    &.active {
      color: $bg-red-active;
    }
  }
}
