@charset "UTF-8";

// 规则页
.rules-page {
  padding: pxToRem(45px) pxToRem(12px) pxToRem(12px) pxToRem(12px);
  h1 {
    text-align: center;
  }
  p {
    line-height: 150%;
  }
  .indent {
    text-indent: 2em;
  }
  .level-2 {
    margin-left: 1em;
  }
  .example {
    font-size: pxToRem(12px);
  }
}

#joinEvent {
  background-color: #d83e3a;
  color: #fff;
  text-align: center;
  line-height: pxToRem(40px);
  height: pxToRem(40px);
  width: pxToRem(150px);
  margin: 0 auto;
  margin-bottom: pxToRem(20px);
  text-align: center;
  border-radius: pxToRem(3px);
  font-size: pxToRem(16px);
  &.active {
    background-color: #c00000;
  }
}
