@charset "UTF-8";

// 规则页
.rules-page {
  padding: 0  pxToRem(12px);
  h1 {
    text-align: center;
  }
  p {
    line-height: 150%;
  }
  .indent {
    text-indent: 2em;
  }
  .level-2 {
    margin-left: 1em;
  }
  .example {
    font-size: pxToRem(12px);
  }
}


