@charset "UTF-8";

// 交易
.trade-panel-link {
  background: $white;

  .ui-col {
    width: 25%;
    padding: pxToRem(5px) 0;
    border: 1px solid $border-color;
    border-bottom: 0 none;
    border-left-width: 0;
    border-right-width: 0;
    text-align: center;

    span {
      display: inline-block;
      font-size: pxToRem(12px);
      color: $gray;
    }
  }

  .ui-col + .ui-col {
    border-left-width: 1px;
  }
}

.trade-assets-box {
  padding: pxToRem(10px) 0;
  margin-bottom: pxToRem(10px);

  .ui-col {
    width: 50%;
    text-align: center;

    dt {
      font-size: pxToRem(14px);
      line-height: pxToRem(16px);
      color: $light;
    }

    dd {
      font-size: pxToRem(18px);
      line-height: pxToRem(22px);
    }

    dl + dl {
      margin-top: pxToRem(10px);
    }
  }

  .ui-col + .ui-col {
    border-left: 1px solid $border-color;
  }
}

.trade-statis {
  padding: pxToRem(18px) 0;
  background: $bg-yellow;

  .ui-col {
    width: 33.3333%;
    text-align: center;
    color: $white;

    dt {
      font-size: pxToRem(14px);
      margin-bottom: pxToRem(10px);
    }

    dd {
      font-size: pxToRem(20px);
    }
  }

  .ui-col + .ui-col {
    border-left: 1px solid $yellow;
  }
}

.trade-dialog-content {

  li {
    font-size: 0;
  }
}

.trade-t-1 {
  display: inline-block;
  width: 15%;
  color: $light;
  text-align: left;
  font-size: pxToRem(12px);
}
.trade-c-1 {
  display: inline-block;
  width: 35%;
  color: $black;
  text-align: left;
  font-size: pxToRem(12px);
}