@charset "UTF-8";

// 观点
.page {
  padding-top: pxToRem(53px);
}

.viewpoint-item {
  margin-bottom: pxToRem(10px);
  padding: pxToRem(12px);
  width: pxToRem(320px);
  background-color: #fff;
  .viewpoint-adviser {
    height: pxToRem(43px);
    position: relative;
    border-bottom: solid #e5e5e5 1px;
    img {
      width: pxToRem(36px);
      height: pxToRem(36px);
    }
    h4 {
      font-size: pxToRem(14px);
      position: absolute;
      left: pxToRem(50px);
      top: pxToRem(3px);
    }
    span {
      color: #888888;
      font-size: pxToRem(12px);
      position: absolute;
      left: pxToRem(50px);
      top: pxToRem(20px);
    }
  }
  .viewpoint-content {
    display: block;
    color: inherit;
    padding-top: pxToRem(11px);
    &:active {
      background-color: #f2f2f2;
    }
    .viewpoint-top {
      span {
        border-radius: pxToRem(3px);
        color: #fff;
        text-align: center;
        line-height: pxToRem(17px);
        height: pxToRem(17px);
        width: pxToRem(17px);
        background-color: #d83e3a;
        font-size: pxToRem(14px);
        float: left;
        margin-right: pxToRem(5px);
      }
      h4 {
        font-size: pxToRem(14px);
      }
    }
    .viewpoint-middle {
      p {
        width: pxToRem(296px);
        margin-top: pxToRem(12px);
        word-wrap: break-word;
      }
      .first-img {
        width: pxToRem(72px);
        height: pxToRem(72px);
        overflow: hidden;
        img {
          width: auto;
          max-height:100%;
        }
      }

    }
    .viewpoint-footer {
      height: pxToRem(10px);
      color: #888888;
      font-size: pxToRem(10px);
      line-height: pxToRem(10px);
      margin-top: pxToRem(16px);
      .viewpoint-time {
        float: left;
      }
      .viewpoint-read {
        float: right;
      }
    }
  }
}

.view-more {
  margin-top: pxToRem(-10px);
  margin-bottom: pxToRem(60px);
  height: pxToRem(60px);
  line-height: pxToRem(60px);
  text-align: center;
  img {
    margin-top: pxToRem(20px);
    width: pxToRem(20px);
    height: pxToRem(20px);
  }
}

.hide {
  display: none;
}


